/*MAIN PAG SUGERENCIAS FORM*/
/*MAIN PAG SUGERENCIAS FORM*/
/*MAIN PAG SUGERENCIAS FORM*/
main {
  #divFlexPpal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  div {
    #formsugerencias {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 500px;
      height: 500px;
    }
    div {
      div {
        .colorBoton {
          background-color: $backgroundcolorsecun;
          border-color: $bordercolorbutton1;
          &:hover {
            background-color: $backgroundcolorppal;
            border: none;
          }
        }
      }
    }
  }
}
