$colorletrappal: #262626;
$colorletrasecun: white;
$colorletrater: #95190c;
$colorlinkfooter: #ffcc33;
$bordercolorbutton1: #663399;
$backgroundcolorppal: #ffcc33;
$backgroundcolorsecun: #663399;
$backgroundcolorsecun2: #ffffff;
$backgroundcolorfootersecund: #46494c;
$backgroundcolorfooterppal: linear-gradient(to bottom, #8653b9, #200a36);
$fontfamilyh1: Cocogoose;
$fontfamilydescrip: "Comfortaa";
